/*Background(Bootstrap Default) - #e9ecef
SDark - #b41744
SLight - #ec536f
PDark - #b7babd
PLight - #ffffff
*/
.forceMargin {
	margin: 4rem;
}
.frame {
	width: 100%;
	height: 100%;
}
* {
		text-align: center;
	}
html {
	background-color: #e9ecef;
}
#jimbotron {
	background-color: #7e001e !important;
	color: white;
}
.buttonCol{
	margin: 10px;
}